{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="{{ request.COOKIES.theme|default:'auto' }}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Alves's Blog - {% block title %}{% endblock %}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'css/variables.css' %}">
		<link rel="stylesheet" href="{% static 'css/base.css'%}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

		{% block css_files %}
		{% endblock %}

		<script>
        const themeCookie = "{{ request.COOKIES.theme }}";
        if (!themeCookie) {
			const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
            document.documentElement.setAttribute("data-theme", prefersDark ? "dark" : "light");
        }
    </script>
	</head>
	<body>
		<header>
			<div id="header-content">
				<h1>Alves's Blog <small onclick="beep()" class="beep">beep...</small></h1>
				<nav>
					<a id="about-link" href="/">About</a>
					<a id="posts-link" href="/posts/">Posts</a>
					<span id="theme-icon-div"><i id="theme-icon" class="fa-solid fa-sun"></i></span>
				</nav>
			</div>
		</header>
		{% block content %}
		{% endblock %}
		<footer>
			<div id="footer-content">
				<div class="content">
					<p class="footer-text"><span><small onclick="beep()" class="beep">beep... beep... </small>alvesafk @ 2026</span></p>
				</div>
				<div class="footer-stats">
					<p id="time-stat">The page was loaded in 0 seconds!</p>
				</div>
			</div>
		</footer>		
		<audio id="beep-audio">
			<source src="{% static 'media/beep.mp3' %}" type="audio/mpeg">
		</audio>
		{% block scripts %}
		{% endblock %}
		<script src="{% static 'js/base.js' %}"></script>
		<script src="{% static 'js/theme_switcher.js' %}"></script>
		<script>
			function beep() {
				const audio = document.getElementById('beep-audio');

				audio.volume = 0.3;
				audio.currentTime = 0;

				audio.play().catch(err => {
					console.error("Error oh no!! My audio!!", err);
				});
			}
		</script>	
	</body>
</html>
