<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Alves's Blog - {% block title %}{% endblock %}</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="javascript:void()">About</a>
				<a href="javascript:void()">Posts</a>
			</nav>
		</header>
		{% block content %}
		{% endblock %}
		<footer>
			<div class="content">
				<p><span>beep... beep... alvesafk @ 2026</span></p>
			</div>
			<div class="footer-stats">
				<!-- STATS -->
			</div>
		</footer>		
	</body>
</html>
