{% extends 'base.html' %}
{% load static%}
{% load markdown %}

{% block title%}
	{{ post.title }}
{% endblock %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
	<main>
		<div id="post-container">
			<div id="post-header">
				<h2>{{ post.title }}</h1>
				<a id="return-link" href="/posts/">Return</a>
			</div>
			<div id="post-content">
				<p>{{ post.content | markdown }}</p>
			</div>
			<div id="post-footer">
				<p><small>{{ post.tags_string | default:"No tags!" }}</small></p>
				<p>Published at {{ post.publish_date }}</p>
			</div>
		</div>
	</main>
{% endblock %}
