{% extends 'base.html' %}
{% load static%}
{% load markdown %}

{% block title%}
	{{ post.title }}
{% endblock %}

{% block css_files %}
	<link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
	<main>
		<div id="post-container">
			<div id="post-header" class="row-line">
				<h2>{{ post.title }}</h1>
				<a id="return-link" href="/posts/">Return</a>
			</div>
			<div id="post-content">
				<p>{{ post.content | markdown }}</p>
			</div>
			<div id="post-footer">
				<p><small>{{ post.tags_string | default:"No tags!" }}</small></p>
				<p>Published at {{ post.publish_date }}</p>
			</div>
		</div>
		<div id="comment-section">
			<div id="comment-section-header" class="row-line">
				<h2>Comment section</h2>
			</div>
			<div id="comment-form-div">
				<form id="comment-form" method="POST" action="{% url 'add_comment' post.id %}">
					{% csrf_token %}
					<input type="hidden" name="username" value="{% if request.COOKIES.username %}{{ request.COOKIES.username }}{% endif %}">
					<div id="comment-input-div">
						<textarea rows="4" cols="50" name="comment-input" id="comment-input" required placeholder="Type you comment here!"></textarea>
					</div>
					<button id="submit-btn" type="submit" name="submit-comment" value="add-comment">Submit</button>
				</form>
			</div>
			<div id="all-coments">
				{% if comments %}	
					{% for comment in comments %}
						<div class="comment">
							<div class="comment-header">
								<h3>{{ comment.author }} at {{ comment.publish_date }}</h3>
							</div>
							<div class="comment-content">
								<p>{{ comment.content }}</p>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<h2>No comments yet!</h2>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
