{% extends 'base.html' %}
{% load markdown %}
{% load static %}

{% block title %}
	Posts
{% endblock %}

{% block content%}
	<main>
		{% for post in all_posts %}
		<div class="card" data-post-id="{{ post.id }}"> 
			<h2>{{ post.title }}</h2>
			{% if post.preview %}
				<p><span>{{ post.preview }}</span></p>
			{% else %}
				<p><span>{{ post.auto_preview | markdown }}</span></p>
			{% endif %}
			<p>{{ post.publish_date }}</p>
			<p><small>{{ post.tags_string }}</small></p>
		</div>
		{% endfor %}
	</main>
{% endblock %}
