* {
	margin: 0;
	padding: 0;
	transition: ease-in 0.2s;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: var(--bg-color);
}

#header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4rem 10rem;
}

h1 {
	font-family: var(--title-font);
	font-size: 3.75rem;
	text-decoration: underline;
	color: var(--fg-color);
}

.beep {
	font-family: var(--normal-font);
	color: var(--beep-color);
	font-size: 1rem;
	font-weight: normal;
}

nav {
	display: flex;
	align-items: center;
	gap: .5rem;
	margin-top: 2.2rem;
}

a {
	text-decoration: underline;
	font-weight: bold;
}

#about-link, #posts-link {
	transition: ease-in 0.2s;
	margin-right: 1rem;
	color: var(--fg-color);
	font-family: var(--normal-font);
}

#about-link:hover, #posts-link:hover, #theme-icon:hover > * {
	color: var(--fg-hover);
}

#theme-icon {
	cursor: pointer;
}

.dropdown {
	position: relative;
	transition: ease-in .2s;
	font-family: var(--normal-font);
	font-size: 1rem;
}

.dropdown > span {
	font-family: var(--normal-font);
	text-decoration: underline;
	font-weight: bold;
	color: var(--fg-color);
	font-size: 1rem;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: var(--bg-color-2);
	min-width: 130px;
	box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
	padding: 12px 16px;
	transition: ease-in .2s;
	border-radius: 1rem;
}

.dropdown-content > ul {
	list-style: none;
	background-color: var(--bg-color-2);
}

.dropdown:hover .dropdown-content {
	display: block;
}

.theme-button {
	color: var(--fg-color);
	font-family: var(--normal-font);
	background-color: var(--bg-color-2);
	transition: ease-in .2s;
	cursor: pointer;
	border-radius: .5rem;
	padding: .25rem;
	margin: 0 0 0 .25rem 0;
}

.theme-button:hover {
	background-color: var(--fg-hover);
	color: var(--bg-color);
}

.is-disabled {
	pointer-events: none;
	color: var(--beep-color) !important; 
}

.is_disabled_btn {
	pointer-events: none;
	color: var(--bg-color);
	background-color: var(--fg-color) !important;
}

main {
	flex-grow: 1;
	color: var(--fg-color);
}

footer {
	text-align: center;
	padding: 10px;
}

#footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#footer-content > div {
	margin: 1rem 10rem;
}

#footer-content span, #footer-content p {
	color: var(--fg-color);
	font-family: var(--normal-font);
	font-weight: bold;
	font-size: 1.25rem;
}

@media screen and (max-width: 985px) {
	main {
		font-size: 1rem;
	}

	h1 {
		margin-top: 12px;
		font-size: 2.25rem;
	}

	nav {
		gap: .05rem;
	}

	#footer-content > div {
		width: 150px;
	}

	#footer-content span, #footer-content p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 666px) {
	#header-content {
		margin: 2rem 6rem;
	}

	h1 {
		font-size: 1.80rem;
		margin-top: 12px;
	}

	nav, .dropdown > span {
		font-size: .75rem;
	}

	#footer-content > div {
		margin: 1rem 6rem;
	}

	#footer-content span, #footer-content p {
		font-size: 1rem;
	}
}

@media screen and (max-width: 599px) {
	#header-content {
		margin: 1rem 4rem;
	}

	h1 {
		font-size: 1.25rem;
	}

	nav {
		margin-bottom: 12px;
	}

	#footer-content > div {
		margin: 1rem 4rem;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 1rem;
	}

	nav, .dropdown > span {
		font-size: .55rem;
	}

	.dropdown {
		margin-bottom: 4px;
	}

	#footer-content > div {
		max-width: 150px;
	}

	#footer-content span, #footer-content p {
		font-size: .85rem;
	}
}
