#post-container, #comment-section {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

#post-container > * > * {
	font-family: var(--normal-font);
}

#post-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .75rem;
}

#post-header > * {
	font-size: 3rem;
}

#return-link {
	font-size: 1rem;
	text-decoration: none;
	font-weight: bold;
	transition: ease-in 0.2s;
	margin-top: 2rem;
	color: var(--fg-color);
}

#return-link:hover {
	color: var(--fg-hover);
}

#post-content > * {
	font-size: 1.25rem;
	margin-bottom: .75rem;
}

#post-content > ul, #post-content > ol {
	list-style: inside;
}

#post-content > p {
	line-height: 1.25;
}

code {
	font-family: var(--code-font);
	background-color: var(--bg-code);
	color: var(--fg-code);
	padding: .2rem .4rem;
	border-radius: 4px;
	font-size: 1rem;
}

pre {
	background-color: var(--bg-code);
	padding: .75rem;
	border-radius: 8px;
	overflow-x: auto;
}

pre code {
	background-color: transparent;
	padding: 0;
	display: block;
	line-height: 1.5;
}

a {
	font-family: var(--normal-font);
	transition: ease-in 0.2s;
	color: var(--fg-link); 
	text-decoration: underline;
	font-weight: normal;
}

a:hover {
	color: var(--fg-hover);
}

#post-footer > p {
	margin: .5rem 0;
}

#post-footer > p > small {
	color: var(--bg-color);
	background-color: var(--fg-subtle);
	padding: 3px;
	border-radius: 4px;
}

.row-line {
	border-bottom: 1px solid var(--fg-color);
}

#comment-section {
	font-family: var(--normal-font);
}

textarea {
	resize: none;
}

#comment-form {
	margin-bottom: 1rem;
}

#comment-input {
	font-family: var(--normal-font);
	background-color: var(--bg-color-2);
	border: 0;
	border-radius: 8px;
	height: 4rem;
	width: 1192px;
	padding: .5rem 0 0 .5rem;
	margin: .75rem 0;
	color: var(--fg-text);
}

#submit-btn {
	font-family: var(--normal-font);
	font-weight: bold;
	font-size: 1rem;
	text-decoration: underline;
	border: 0;
	border-radius: 8px;
	background-color: var(--btn-bg);
	color: var(--btn-fg);
	padding: .5rem;
}

#submit-btn:hover {
	background-color: var(--btn-hover);
}

.comment {
	margin-bottom: 1rem;
}

.comment-header {
	margin-bottom: .25rem;
}

.comment-header > h3 {
	font-size: 1.25rem;
	text-decoration: underline;
}

.comment-content > p {
	font-size: 1rem;
	text-indent: 1rem;
}
