#container-posts {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 900px;
	margin: 0 auto;
}

#container-posts * {
	font-family: var(--normal-font);
}

.card {
	cursor: pointer;
}

.card > p {
	margin-bottom: .4rem;
}

.post-title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: .5rem;
}

.post-preview {
	font-size: 1.25rem;
	margin-bottom: .40rem;
}

.post-date {
	font-size: .8rem;

}

.post-tags {
	color: var(--bg-color);
	background-color: var(--fg-subtle);
	padding: 3px;
	border-radius: 4px;
}
