* {
	margin: 0;
	padding: 0;
	font-family: var(--normal-font);
	color: var(--fg-color);
	background-color: var(--bg-color);
	transition: ease-in 0.2s;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

#header-content {
	display: flex;
	justify-content: space-between;
	aligin-items: center;
	margin: 4rem 10rem;
}

h1 {
	font-family: var(--title-font);
	font-size: 3.75rem;
	text-decoration: underline;
}

.beep {
	font-family: var(--normal-font);
	color: var(--beep-color);
	font-size: 1rem;
	font-weight: normal;
}

nav {
	margin-top: 2.2rem;
}

a {
	text-decoration: underline;
	font-weight: bold;
}

#about-link, #posts-link {
	transition: ease-in 0.2s;
	margin-right: 1rem;
}

#about-link:hover, #posts-link:hover, #theme-icon:hover > * {
	color: var(--fg-hover);
}

#theme-icon {
	cursor: pointer;
}

.is-disabled {
	pointer-events: none;
	color: var(--beep-color);
}

main {
	flex-grow: 1;
}

footer {
	text-align: center;
	padding: 10px;
}

#footer-content {
	display: flex;
	justify-content: space-between;
	aligin-items: center;
}

#footer-content > div {
	margin: 1rem 10rem;
}

#footer-content span, #footer-content p {
	color: var(--fg-color);
	font-family: var(--normal-font);
	font-weight: bold;
	font-size: 1.25rem;
}
