#post-container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
}

#post-container > * > * {
	font-family: var(--normal-font);
}

#post-header {
	display: flex;
	justify-content: space-between;
	aligin-items: center;
	border-bottom: 1px solid #1a202c;
	margin-bottom: .75rem;
}

#post-header > * {
	font-size: 3rem;
}

#return-link {
	font-size: 1rem;
	text-decoration: none;
	transition: ease-in 0.2s;
	margin-top: 2rem;
}

#return-link:hover {
	color: var(--fg-hover);
}

#post-content > * {
	font-size: 1.25rem;
	margin-bottom: .5rem;
}

#post-footer > p {
	margin: .5rem 0;
}

#post-footer > p > small {
	color: var(--bg-color);
	background-color: var(--fg-subtle);
	padding: 3px;
	border-radius: 4px;
}
