.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 16rem 2rem 16rem;
}

.title {
	font-family: var(--normal-font);
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: .5rem;
}

#index-img {
	justify-content: center;	
	margin-bottom: 5rem;
}

#tux {
	border-radius: 32px;
	overflow: hidden;
	box-shadow: 0rem 0rem 3rem #00000015;
}

#other-stuff {
	justify-content: space-around;
	margin: 2rem 6rem;
}

ul {
	list-style: inside;
}

li {
	margin-bottom: .25rem;
}

.social-link {
	font-family: var(--normal-font);
	transition: ease-in 0.2s;
	color: var(--fg-link); 
	text-decoration: none;
}

.social-link:hover {
	color: var(--fg-hover);
}

.post-title, .post-preview > span, .post-tags > small, .post-tags, .post-date {
	font-family: var(--normal-font);
}

#recent-post {
	cursor: pointer;
}

.post-title {
	margin-bottom: .4rem;
	font-size: 1.3rem;
}

.post-preview, .post-date {
	margin-bottom: .3rem;
}

.post-preview {
	max-width: 400px;
}

.post-date {
	font-size: .8rem;
}

.post-tags > small {
	color: var(--bg-color);
	background-color: var(--fg-subtle);
	padding: 3px;
	border-radius: 4px;
}
